

#cartIcon{
    min-width:100%;
}



#cartSize{
    position:absolute;
    left:37.5%;
    top:30%;
}

#cartContainer{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
 

}

.cartClass{
    flex-direction:column;
    text-align: center;
    margin-right:15%;
}

#total{
    margin-left:auto;
    margin-right:auto;
    font-size:min(1em);
    
}

.cartClass p{
    font-weight:bolder;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5em;
}

#cartContainer:hover{
    scale:105%;
    cursor:pointer;
 

}