.Faq-container{
    background-color:#7B7DA9;
    color:#2E1F47;
    border:5px solid #2E1F47;
    font-weight:bolder;
    font-size:1.5em;
    width:75vw;
    min-height:500px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    text-align:center;
    margin-bottom:50px;

}


.Faq{
    background-color: rgb(182, 182, 182);
}

.Faq-container div{
    background-color:rgb(182, 182, 182);
 
}


ol{
    display:flex;

    flex-direction: column;
    list-style:none;
}

ul{
    list-style:inside;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    
    
}

ul li{
    margin-left:55px;
  
}


.Faq .nav-bar-comp{
    min-width:100%;
    width:100vw;    
    }

    .Faq h1{
        color:white;
        text-align:center;
    }


