.Faq-container{
    background-color:rgb(173, 82, 226);
    color:rgb(43, 74, 102);
    width:75vw;
    height:500px;
    margin-left:auto;
    margin-right:auto;

}


ol{
    display:flex;

    flex-direction: column;
    list-style:none;
}

ul{
    list-style:inside;
    display:flex;
    flex-direction:column;
}

ul li{
    margin-left:45px;
  
}


.Faq .nav-bar-comp{
    min-width:100%;
    width:100vw;    
    }

    .Faq h1{
        color:white;
        text-align:center;
    }


