.Faq-container{
    background-color:rgb(173, 82, 226);
    color:rgb(43, 74, 102);
    width:75vw;
    height:500px;

}


ol{
    display:flex;

    flex-direction: column;
    list-style:none;
}

ul{
    list-style:inside;
    display:flex;
    flex-direction:column;
}

ul li{
    margin-left:45px;
  
}