.Genericsector{
    background-color:#7B7DA9;
    display:flex;
    max-width:85%;
    margin-right:auto;
    border-top-right-radius: 100px;
    border-bottom-right-radius:100px;
    padding:40px;
    text-align:center;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:50px;
    font-size:1.5rem;
    min-height:500px;
    border-right:3px solid #885da1;
    border-top:3px solid #885da1;
    border-bottom:3px solid #885da1;
    background: linear-gradient(90deg, rgba(46,31,71,1) 0%, rgba(95,83,125,1) 50%, rgba(123,125,169,1) 100%);;
    box-shadow:  5px 7px 10px 3px rgba(0, 0, 0, 0.4);
    
}

.Genericsector img{
    max-width:40vw;
    
}


.genericInner{
    background-color:#7B7DA9;
    display:flex;
    width:max(calc(100% + 10em));
    margin-right:auto;
    margin-left:-50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius:100px;
    padding:40px;
    text-align:center;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap:50px;
    font-size:1.5rem;
    min-height:450px;
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(87,87,87,1) 50%, rgba(18,18,18,1) 100%);
    color:white;
    border:3px solid #685B87;
    box-shadow:  5px 7px 10px 3px rgba(0, 0, 0, 0.4);

}