#products{
    margin-left:auto;
    margin-right:auto;

    flex-wrap:wrap;
    padding:15px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    background-color:grey;
    min-width:50%;
    border:1px solid red;
    gap:10px;
    justify-items:space-evenly;
    
    
}


@media only screen and ( max-width:500px) {
    #products{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    }
    
}