#products{
   
    padding:15px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
    background-color:rgb(173, 113, 243);
    width:clamp(70vw, 75vw, 80vw);
    height:50%;
    border:1px solid red;
    row-gap: 20px;
    
    
    
    
}


@media only screen and ( max-width:500px) {
    #products{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
    }
    
}