#products{
   
    padding:15px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr) );
    background-color:#ffffff;
    min-width:clamp(70vw, 75vw, 80vw);
    max-height:80%;
    
    row-gap: 50px;
    margin-left:auto;
    margin-right:Auto;
    margin-top:2.5%;
    background-color: rgb(179, 179, 179);
    
}


@media only screen and ( max-width:500px) {
    #products{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
        margin-top:0;;
    }
    
}