form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:20px;
    background-color:#2E1F47;
    /*width:27rem;*/
    margin-bottom:5%;
    margin-top:5%;
    border-radius:15px;
    box-shadow:0px 1px 1px 5px rgba(88, 17, 170, 0.658);
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    background: linear-gradient(60deg, #2E1F47 0%, rgb(69, 0, 97) 50%,  #2E1F47 100%);
    min-height:100vh;
    max-width:75%;
}

.backgroundFields{
    background: linear-gradient(60deg, rgba(17,17,17,1) 0%, rgb(34, 34, 34) 70%, rgb(71, 71, 71) 100%);
    min-width:80%;
    min-height:50rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius:15px;
    border:3px solid #885da1;
}

.fieldset{
    display:flex;
    flex-direction:column;
    margin-right:auto;
    max-width:80%;
    min-width:40%;
    color:white;
    margin-left:auto;
    text-align:center;
    }


    #textField{
        max-width:80%;
    min-width:50%;
    margin-left:auto;
    margin-right:auto;
        height:10rem;
        border:3px solid rgb(173, 113, 243);
   
    }

textarea{
    resize:none;
  
    min-height:20rem;
}

    #submit:hover{
        cursor:pointer;
        background-color:rgb(212, 71, 71);
    }

    #submit{
        width:200px;
        border-radius:15px;
        height:30px;
        background-color:rgb(173, 113, 243);
    }


    @media only screen and (max-width: 800px) {

        form{
            align-items: baseline;
            display:block;
            margin-bottom:0;
            
        }
      }
      