footer{
   
 
    width:100%;
    min-width:100vw;   
    min-height:10vh;
    background-color:#2E1F47;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight:bolder;
    font-size:1.5em;
}

@media only screen and (max-width: 768px){
    footer{
        width:100%;
        min-width:100vw;   
        min-height:20vh;
}
}
