.footerdiv{
   
 
    width:100%;
    min-width:100vw;   
    min-height:5vh;
    background-color:#2E1F47;
    text-align: center;
    display:flex !important;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight:bolder;
    font-size:1.5em;
    margin-left:auto;
    margin-right:auto;
    bottom:0;
}

@media only screen and (max-width: 768px){
    .footerdiv{
        min-width:100% !important;
        margin:0px -10 0 -10px;
}       

body{
    overflow-x:auto;
}
}
