.Contact .nav-bar-comp{
    min-width:100%;
    width:100vw;    
    
    }

    .Contact h1{
        color:white;
        text-align:center;
    }

.Contact{
    background-color: rgb(182, 182, 182);
    background: radial-gradient(rgb(68, 1, 112), #011);
   
}


@media only screen and (max-width: 800px) {

    .Contact{
        padding-bottom:50px;
    }
  }
  

