.Contact .nav-bar-comp{
    min-width:100%;
    width:100vw;    
    
    }

    .Contact h1{
        color:white;
        text-align:center;
    }

.Contact{
    background-color: rgb(182, 182, 182);
    margin-bottom:50px;
    
}