.storeNav{
    display:flex;
    background-color:rgb(248, 248, 248);
    align-items:center;
    font-size:0.8em;
    color:rgb(228, 235, 230);
    flex-direction:row;
    justify-content: center !important;
    min-width:100vw !important;
    margin-right:auto !important;
    padding:20px !important;

    
}

.storeNav{
    background-color:#2E1F47;
    
}
/* .cartty{
    flex:1;
}
.navvy{
    flex:8;

}
 */

.storeNav .navvy, .storeNav .cartty{
   
    background-color:#2E1F47;
    padding:0;
    margin:0;
   display:block;
   
}


body{
    background-color:White;
}


.navvy .nav-bar-comp{
    min-width:0;
}

@media only screen and (max-width: 450px) {

    .storeNav{
        flex-direction:column;

    }

    .cartty{
        position:fixed;
        right:0;
        margin:0;
        padding:0;
        max-width:15vw;
        color:gold;
    }

    .storeNav .navvy, .storeNav .cartty, .storeNav .cartty .cartClass{
        background-color: rgba(179, 179, 179, 0);
    }
}