.nav-bar-comp{
    background-color:#2E1F47;
    display:flex;
    align-items:center;
    justify-content:center;
    max-height:10vh;
    text-align: center;
    font-size:0.8em;
    min-width:100vw;
   
    padding:20px;
}


   

#Logo{
    color:white;
   
}
  
#contact-form button{
    background-color: rgb(179, 179, 179);

     width:100px;
    margin-left:20px;
    margin-right:20px;
    box-shadow:2px 3px 5px 2px rgba(255,127,127,0.5);
    border-radius:12px;
}

#nav-div button, #contact-form button{
    width:150px;
   
    margin-left:20px;
    margin-right:20px;
    box-shadow:2px 3px 5px 2px rgba(255,127,127,0.5);
    border-radius:4px;
    min-height:35px;
    background-color:#7B7DA9;
    border:1px solid rgb(111, 105, 151);
}


#nav-div button:hover, button:hover{
    scale:115%;
    background-color:rgb(212, 71, 71);
    box-shadow:2px 3px 5px 2px rgba(255,255,127,0.5);
    border:1px solid darkgreen;
    cursor:pointer;
}

a{
    text-decoration: none;
}

a:visited{
    color:rgb(255, 255, 255);
}

@media only screen and (max-width: 768px){
    .nav-bar-comp{
        min-height:20vh;
        width:100vw;
        flex-direction:column;
        max-height:none;
    }
    #nav-div button{
        max-height:20px;
    }

    #nav-div{
        min-height:100%;
    }

}
