.nav-bar-comp{
    background-color:rgb(248, 248, 248);
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:7vh;

    box-shadow: 2px 3px 5px 2px rgba(255, 190, 10, 0.5);
    min-width:100vw;
}
#nav-div{
  
    margin-left:auto;
    margin-right:auto;
   
}

#Logo{
    color:white;
    margin-left:50px;
}

#contact-form{
    margin-right:50px;
}

#contact-form button{
    background-color: rgb(179, 179, 179);
    height:25px;
     width:100px;
    margin-left:20px;
    margin-right:20px;
    box-shadow:2px 3px 5px 2px rgba(255,127,127,0.5);
    border-radius:12px;
}

#nav-div button{
    width:100px;
    height:25px;
    margin-left:20px;
    margin-right:20px;
    box-shadow:2px 3px 5px 2px rgba(255,127,127,0.5);
    border-radius:12px;
    background-color:rgb(173, 113, 243);
    border:1px solid rgb(234, 0, 255);
}


#nav-div button:hover, button:hover{
    scale:115%;
    background-color:rgb(212, 71, 71);
    box-shadow:2px 3px 5px 2px rgba(255,255,127,0.5);
    border:1px solid darkgreen;
    cursor:pointer;
}

a{
    text-decoration: none;
}

a:visited{
    color:black;
}

@media only screen and (max-width: 768px){
    .nav-bar-comp{
        min-height:20vh;
        width:100vw;
      
    }
    #nav-div button{
        width:50px;
        height:20px;
    }


    #Logo{
        flex:1;
    }

    #nav-div{
        flex-direction: row;
        
        flex:2;
      
    }

    #contact-form{
      flex:1;
    }

}